<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

        {% block head %}{% endblock %}

        <link rel="shortcut icon" href="https://www.rit.edu/academicaffairs/honors/favicon.1.ico" />

    </head>

    <body>

        <div class="header">
            <div class="pure-menu pure-menu-horizontal">
                <a class="pure-menu-heading" href="">Honor's Events</a>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
                    <li class="pure-menu-item pure-menu-selected"><a href="{% url 'events' %}" class="pure-menu-link">Event List</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Login</a></li>
                </ul>
            </div>
        </div>

        {% block body %}{% endblock %}


    </body>

</html>